body {
	color: #FFFFFF;
	background-color: #202020;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	background-repeat: vertical;
	background-size: 100%;
	font-weight: 500;
	font-size: 100%;
	margin: 0;
}

#title {
	display: inline-block;
	margin: 5%;
	background-color: #000000;
	grid-area: header;
}

#menu {
	width: 100%;
	height: 100%;
	text-align: left;
}

.grid-container {
	display: grid;
	grid-template-areas:
	'menu main main main main main main main'
	'menu main main main main main main main';
}

.grid-container > div {
}

.grid-menu {
	grid-area: menu;
	background-color: #000000;
}

.grid-content {
	grid-area: main;
}

.sections {
	text-align: center;
	position: relative;
}

.menuItem {
	display: block;
  transition-duration: 0.2s;
	text-decoration: none;
	font-size:1.5vw;
	margin-top: 3%;
	margin-left: 8%;
	padding: 0.5%;
}

#name {
	cursor: pointer;
	margin: 1%;
}

#promo:hover {
	cursor: default;
}


p {
	margin-left:1vw;
	margin-right:1vw;
	font-size: 1vw;
	padding: 1%;
	text-align: justify;
	line-height: 150%;
}

div {
  clear: both;
}

button {
	background-color: #0080FF;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	padding: 0.5%;
	transition-duration: 0.4s;
	border: 1px solid #0080FF;
	font-size: 1vw;
	border-radius: 0.5vw;
}

button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

img {
	margin: 2%;
	max-width: 100%;
	vertical-align: baseline;
	object-fit: fill;
}

h1 {
	margin: 5%;
	text-align: center;
	font-size: 3vw;
}

h2 {
	margin-left: 1%;
	text-align: center;
	font-size: 2vw;
}

.textSpan {
	display: inline-block;
	width: 47%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.imageSpan {
	display: inline-block;
	width: 52%;
	position: relative;
	text-align: center;
}

.menuItem:hover {
	color: #FF7800;
	cursor: pointer;
}

::selection {
	background-color: #BBBBBB;
}

footer {
	text-align: center;
	background-color: #FF7800;
	color: #FFFFFF;
}

em {
	text-align: center;
	font-size: 1vw;
	text-decoration: none;
}
