
#preloadScreen {
  display: initial;
}

#postloadScreen {
  visibility: hidden;
}

#title {
	display: inline-block;
	margin: 5%;
	background-color: #000020;
	grid-area: header;
	vertical-align: middle;
  align: middle;
}

#projectPage {
	display: none;
}

.projectVideo {
	height: 100%;
	margin-top: 1vh;
	/* margin-left: 1vw; */
	max-width: 100%;
	vertical-align: baseline;
	object-fit: fill;
}

#menu {
	width: 100%;
	height: 100%;
	text-align: left;
  margin: 0px;
}

#videoContainer {
	position: relative;
	margin-bottom: 8%;
	margin-top: 1%;
}

#egg {
	color: #000000;
}

#video {
  width: 100%;
  height: 100%;
}

#name {
	cursor: pointer;
	margin: 0.5%;
	vertical-align: middle;
  align: middle;
	object-fit: contain;
  border-radius: 0;
  width: 60%;
}

#preloadName {
  margin-top: 3%;
  margin-left: 40%;
  vertical-align: middle;
  align: middle;
  object-fit: contain;
  border-radius: 0;
  width: 20%;
}

#nameSpan {
	vertical-align: middle;
  margin-left: 15%;
}

#promo:hover {
	cursor: default;
}

#socialmedia {
	text-align: center;
}

#homeVideo {
	margin: 0;
}

#videoFull {
	display: none;
	width: 100%;
	height: 100%;
}

#overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	top: 0;
  left: 0;
	z-index: 10;
	text-align: center;
	vertical-align: top;
}

#overlay p {
	font-size: 3vw;
	top: 50%;
	left: 47.2%;
	width: 70%;
	font-weight: bold;
	text-align: center;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.projectGenre {
	background-color: #B85700;
}

.projectEngine {
	background-color: #B8B300;
}

.projectType {
	background-color: #B80005;
}

.tagsLine {
	/* display: flex; */
}

.aboutImage {
	width: 45%;
	max-width: 45%;
	/* overflow: hidden; */
}

.imageSide {
	width: 49%;
	margin-left: 0.5vw;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.textSide {
	width: 49%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.portfolioGame {
	width: 45%;
	margin: 1vw;
	margin-right: 2vw;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
}

.portfolioOverlay {
	position: absolute;
	margin-bottom: 0;
	margin-right: 2vw;
	background: rgba(0, 0, 0, 0.7);
	color: #f1f1f1;
	width: 100%;
	height: 30%;
	bottom: 0;
  left: 0;
	z-index: 10;
	text-align: center;
}

.portfolioOverlay h2 {
	margin-top: 0;
}

.thumbnail {
	transition: transform .2s, filter .2s;
}

.thumbnail:hover {
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	filter: brightness(70%);
}

.sectionContent {
	text-align: right;
	transition-duration: 0.2s;
}

.contentBlock {
	vertical-align: middle;
	margin-bottom: 1vh;
	height: 33%;
	overflow: hidden;
}

.sectionContent {
	display: inline-block;
  float: right;
  width: 82%;
}

.sectionMenu {
	width: 18%;
	/* height: 100%; */
	background-color: #000020;
	position: fixed;
  float: left;
	text-align: left;
}

.contentParts {
	/* width: 82%; */
	display: inline-block;
	position: relative;
	text-align: center;
}

.sections {
	text-align: center;
	position: relative;
}

.menuItem {
	display: block;
  /* transition-duration: 0.2s; */
	text-decoration: none;
	font-size: 1.2vw;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.6%;
}


.menuItem:hover {
	color: #FF7800;
	/* font-size: 1.22vw; */
	cursor: pointer;
}

.menuSide {
	display: inline-block;
  /* display: none; */
  width: 15%;
  height: 50%;
  margin: 0;
}

.pointsList {
	margin-top: 0.5vh;
	margin-left: 4.5vw;
	margin-right:2vw;
	font-size: 1vw;
	text-align: justify;
	line-height: 180%;
}


.fa {
  padding: 1.5%;
  font-size: 1%;
  width: 10%;
	height: 10%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #FF7800;
  color: #FFFFFF;
}

.fa-facebook {
	background: #FF7800;
  color: #FFFFFF;
}

.textSpan {
	display: inline-block;
	width: 47%;
	position: relative;
	text-align: center;

}

.projectItem {
  display: none;
}

.dropDown {
  display: inline-block;
  width: 35%;
	margin-left: 65%;;
  text-decoration: none;
}

.controller {
	width: 60%;
	border-radius: 0;
}

.controller:hover {
	src: url('images/decoration/yellowController.png');
}

.otherProjectsPanel {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-bottom: 1%;
}

.checkmark {
	width: 8%;
	border-radius: 0;
	margin: 0;
	display: none;
}

::selection {
	background-color: #BBBBBB;
}

.tag {
	display: inline-block;
	padding: 0.3vw;
	position: relative;
	margin: 0.5vw;
	text-align: center;
}

.linkAway {
	text-decoration: underline;
	color: #FFD355;
	cursor: pointer;
}

.smallButton {
	margin: 0.5vw;
	font-size: inherit;
}

.smallButton:hover {
	color: #000000;
	background-color: #FFFFFF;
	font-size: inherit;
}

.sideLogo {
	width: 40%;
	margin-left: 50%;
	height: 10%;
	border-radius: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #FFFFFF;
	background-color: #000020;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	background-repeat: vertical;
	background-size: 100%;
	font-weight: 500;
	font-size: 100%;
	margin: 0;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: square;
	padding-left: 0.5vw;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: calc(5px + 1vw);
}

li::marker {
  color: #FF7800;
  display: inline-block;
  height: 2vh;
  width: 2vw;
	border-radius: 50%;
}

hr {
  border-color: #FF7800;
}

p {
	margin-top: 0.5vh;
	margin-left: 3.5vw;
	margin-right:2vw;
	font-size: calc(5px + 1vw);
	text-align: justify;
	line-height: 150%;
}


h3 {
	margin-top: 0.5vh;
	margin-left: 3.5vw;
	margin-right:2vw;
	margin-bottom: 0;
	font-size: 1.2vw;
	text-align: center;
	line-height: 150%;
}

div {
  clear: both;
}

button {
	background-color: #FF7800;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	padding: 1%;
	font-weight: bold;
	transition-duration: 0.2s;
	font-size: 3vw;
	border-radius: 0.5vw;
}

button:hover {
	/* font-size: 4.5vw; */
	cursor: pointer;
  opacity: 70%;
}

img {
	margin-top: 1vh;
	max-width: 100%;
	vertical-align: baseline;
	object-fit: fill;
}

h1 {
	text-align: center;
	font-size: calc(15px + 2.5vw);
	margin: 0;
	margin-top: 1.8vh;
	margin-bottom: 1.8vh;
	color: #FFFFFF;
}

h2 {
	margin-top: 1vh;
	margin-bottom: 0;
	text-decoration: underline;
	text-decoration-color: #FFD355;
	text-align: center;
  font-size: calc(8px + 1.6vw);
}

h4 {
	text-align: center;
	font-size: calc(5px + 1vw);
	color: #FFFFFF;
	margin: 0;
	margin-top: 0.5%;
}

h5 {
	text-align: center;
	font-size: 1vw;
	color: #FFFFFF;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


footer {
	margin-top: 1%;
	margin-left: 20%;
  height: 5%;
	text-align: center;
	background-color: #FF7800;
  float: left;
	color: #FFFFFF;
}

em {
	text-align: center;
	font-size: 1vw;
	text-decoration: none;
}

strong {
	color: #FFFFFF;
	font-size: inherit;
	cursor: help;
	text-decoration-line: none;
	border: 1px;
	border-style: solid;
	border-color: #ffD355;
}

strong:hover {
	color: #000000;
	background-color: #FFFFFF;
	font-size: inherit;
}

@media screen and (max-width: 1280px) {
  /* For mobile phones: */
  .sectionMenu, .sectionContent {
    width: 100%;
  }
  .sectionContent {
    margin-top: 20%
  }
  .sectionMenu {
    overflow: hidden;
    display: inline;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  #title {
    margin: 0.1%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 20%;
    float: left;
  }
  #menuBar {
    display: inline-block;
    width: 79%;
  }
  .menuItem {
    display: inline-block;
    font-size: 2.7vw;
    margin-left: 1%;
    margin-right: 1%;
  }
  .dropDown {
    width: 5%;
    margin-left: 1%;
  }
  .menuSide {
    display: none;
  }
  #menu {
    padding-top: 5%;
  }
  p {
    font-size: calc(5px + 1.5vw);
  }
  h2 {
    font-size: calc(8px + 2vw);;
  }
  .portfolioGame {
    width: 90%;
  }
  h5 {
    font-size: calc(7px + 1.7vw);
  }
}
